html body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.img{
  border-radius: 50%;
  margin: 15px;
}
.header1{
  text-align: center;
  font-size: 2em;
  font-family: serif;
}
.container1{
  display: flex;
  align-items: stretch;
  padding: 3%;
}
.p1 {
  flex: 2;
}
.p2 {
  flex: 2;
}
.about {
  font-size: 2em;
  padding: 3%;
  font-family: 'Courier New', Courier, monospace;
}